<!DOCTYPE html>
<html ng-app="craigslist">
	<head>
		<title>Scraper</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/style.css">
		
	</head>
	<body ng-controller="CraigslistController">
	
		<div id="wrap">
			
			<header class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<a href="#" class="navbar-brand">CL Scraper</a>
					</div>
				</div>
			</header>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
						<div class="panel-heading">
								<h3 class="panel-title">Scan for web jobs across all of Craigslist</h3>
							</div>
							<div class="panel-body">
													
								<form class="form-inline" role="form">
									<div class="form-group">
										<input type="text" id="query" class="form-control" placeholder="Search term" ng-model="query" /> 
									</div>
									<div class="form-group">
										<input type="button" class="btn btn-primary" value="Search" ng-click="search()" ng-show="!searching" />
										<input type="button" id="stop" class="btn btn-danger" value="Stop" ng-click="stop()" ng-show="searching" />
									</div>
								</form>
								<input type="checkbox" id="contract" name="contract" ng-model="contractor" />
								<label for="contract">Contract-Only</label>
								<br/>
								<a href="#" ng-click="views.states = !views.states">({{views.states | iff: '-' : '+'}}) Filter States</a>
								
								<div ng-show="views.states" class="state-selection">
									<a href="#" ng-click="toggleAllStates()">Toggle All</a><br/>								
									<label ng-repeat="state in states">
										<input type="checkbox" ng-model="state.selected" /> {{state.state}}
									</label>
								</div>
							</div>
						</div>
						
						
						Searching <span id="city-index" ng-bind="listings.length"></span> of <span id="city-total" ng-bind="(cities | filter:cityCountFilter).length">0</span> cities.
						
						<span ng-bind="dateListings.length"></span> listings found.
						
						<div class="progress">
						  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{ (listings.length/(cities | filter:cityCountFilter).length) * 100 }}%;">
						  </div>
						</div>	
				
					
					
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Results</h3>
								Filter by: 
								<a href="#" ng-click="toggleDateFilter()">Date</a> | 
								<a href="#" ng-click="toggleStateFilter()">State</a>
							</div>
							<div class="panel-body">
								
								<div ng-show="listingFilter == 'state'">
									<div ng-repeat="group in listings">
										<h3>{{group.state}} - {{group.city}}</h3>
										
										<table class="table">
											<thead>
												<tr>
													<th>Date</th>
													<th>Listing</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="listing in group.listings | orderBy: '-date'">
													<td ng-bind="listing.date | date:'MMM d'"></td>
													<td><a href="{{listing.link.href}}">{{listing.link.title}}</td>
												</tr>
											</tboy>
										</table>
									</div>
								</div>
								
								<div ng-show="listingFilter == 'date'">
									<table class="table">
										<thead>
											<tr>
												<th>Date</th>
												<th>Listing</th>
												<th>Location</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="listing in dateListings | orderBy: '-date'">
												<td>{{listing.date | date:'MMM d'}}</td>
												<td><a href="{{listing.link.href}}" target="_blank">{{listing.link.title}}</a></td>
												<td>{{listing.state}} - {{listing.city}}</td>
											</tr>
										</tbody>
									</table>
								</div>
								
								
							</div>
						</div>
					</div>
				</div>
	
			</div>
			<a href="https://github.com/ajwhite/Craigslist-Scraper"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
		</div> <!-- #wrap -->
		
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						Developed by <a href="http://www.atticuswhite.com" title="Developed by Atticus White">Atticus White</a>
						
						<div class="right"><a href="#">Fork me on GitHub</a></div>
					</div>
				</div>
			</div>
		</footer>
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
		<script type="text/javascript" src="/angular_app.js"></script>		
	</body>
</html>